/data
/manuscript
/papers
/src/all/data
/src/all/embeds
/src/all/models/length/results
/src/all/models/t5/analysis
/src/all/models/t5/results
/src/largest50/data
/src/largest50/embeds
/src/largest50/jobs
/src/largest50/models/blast/all-vs-all.tsv
/src/largest50/models/blast/my_prot_blast_db*
/src/largest50/models/blast/*csv
/src/largest50/models/blast/*fasta
/src/largest50/models/blast/*pickle
/src/largest50/models/length/results
/src/largest50/models/t5/data
/src/largest50/models/t5/results
/src/largest50/models/t5/tsne
/src/plot
/src/cathe-predict/